{
  "openapi": "3.1.0",
  "info": {
    "title": "Riders",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://order-riders.trywebsight.com/api",
      "description": "API Base URL"
    }
  ],
  "tags": [
    {
      "name": "Order"
    },
    {
      "name": "Bulk Orders"
    }
  ],
  "security": [
    {
      "apikey": [],
      "bearer": []
    }
  ],
  "paths": {
    "/bulk-orders": {
      "post": {
        "operationId": "bulk-orders.",
        "summary": "Create bulk orders",
        "tags": [
          "Bulk Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "payment_link": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "bulk_order_uid": {
                              "type": "string"
                            },
                            "total_amount": {
                              "type": "integer",
                              "enum": [
                                0
                              ]
                            },
                            "orders_count": {
                              "type": "string"
                            },
                            "coupon_applied": {
                              "type": "string"
                            },
                            "total_discount": {
                              "type": "string"
                            },
                            "orders": {
                              "type": "array",
                              "items": {}
                            }
                          },
                          "required": [
                            "payment_link",
                            "bulk_order_uid",
                            "total_amount",
                            "orders_count",
                            "coupon_applied",
                            "total_discount",
                            "orders"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "payment_link": {
                              "type": "null"
                            },
                            "bulk_order_uid": {
                              "type": "string"
                            },
                            "total_amount": {
                              "type": "integer",
                              "enum": [
                                0
                              ]
                            },
                            "orders_count": {
                              "type": "string"
                            },
                            "coupon_applied": {
                              "type": "string"
                            },
                            "total_discount": {
                              "type": "string"
                            },
                            "orders": {
                              "type": "array",
                              "items": {}
                            }
                          },
                          "required": [
                            "payment_link",
                            "bulk_order_uid",
                            "total_amount",
                            "orders_count",
                            "coupon_applied",
                            "total_discount",
                            "orders"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/bulk-orders/grid": {
      "post": {
        "operationId": "gridBulkOrder.store",
        "summary": "Create bulk orders (Grid system)",
        "tags": [
          "Bulk Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GridBulkOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "payment_link": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "bulk_order_uid": {
                              "type": "string"
                            },
                            "total_amount": {
                              "type": "integer",
                              "enum": [
                                0
                              ]
                            },
                            "orders_count": {
                              "type": "string"
                            },
                            "coupon_applied": {
                              "type": "string"
                            },
                            "total_discount": {
                              "type": "string"
                            },
                            "orders": {
                              "type": "array",
                              "items": {}
                            }
                          },
                          "required": [
                            "payment_link",
                            "bulk_order_uid",
                            "total_amount",
                            "orders_count",
                            "coupon_applied",
                            "total_discount",
                            "orders"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "payment_link": {
                              "type": "null"
                            },
                            "bulk_order_uid": {
                              "type": "string"
                            },
                            "total_amount": {
                              "type": "integer",
                              "enum": [
                                0
                              ]
                            },
                            "orders_count": {
                              "type": "string"
                            },
                            "coupon_applied": {
                              "type": "string"
                            },
                            "total_discount": {
                              "type": "string"
                            },
                            "orders": {
                              "type": "array",
                              "items": {}
                            }
                          },
                          "required": [
                            "payment_link",
                            "bulk_order_uid",
                            "total_amount",
                            "orders_count",
                            "coupon_applied",
                            "total_discount",
                            "orders"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/bulk-orders/{bulkUid}": {
      "get": {
        "operationId": "bulkOrder.show",
        "summary": "Get bulk order details",
        "tags": [
          "Bulk Orders"
        ],
        "parameters": [
          {
            "name": "bulkUid",
            "in": "path",
            "required": true,
            "description": "The bulk order's uid.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "bulk_order_uid": {
                          "type": "string"
                        },
                        "total_amount": {
                          "type": "string"
                        },
                        "orders_count": {
                          "type": "string"
                        },
                        "status": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "mixed",
                                "partially_paid",
                                "partially_cancelled"
                              ]
                            }
                          ]
                        },
                        "orders": {
                          "type": "array",
                          "items": {}
                        },
                        "coupon_applied": {
                          "type": "string"
                        },
                        "total_discount": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "bulk_order_uid",
                        "total_amount",
                        "orders_count",
                        "status",
                        "orders",
                        "coupon_applied",
                        "total_discount"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/bulk-orders/{bulkUid}/pay": {
      "post": {
        "operationId": "bulk-orders.pay",
        "summary": "Pay bulk order",
        "tags": [
          "Bulk Orders"
        ],
        "parameters": [
          {
            "name": "bulkUid",
            "in": "path",
            "required": true,
            "description": "The bulk order's uid.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_method": {
                    "type": "string",
                    "enum": [
                      "wallet",
                      "card",
                      "knet",
                      "apple_pay",
                      "tap"
                    ]
                  },
                  "payment_token": {
                    "type": "object",
                    "properties": {
                      "source": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        }
                      },
                      "authentication": {
                        "type": [
                          "array",
                          "null"
                        ],
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "payment_method"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "bulk_order_uid": {
                          "type": "string"
                        },
                        "payment_link": {
                          "type": "string"
                        },
                        "total_amount": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "bulk_order_uid",
                        "payment_link",
                        "total_amount"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/orders/grid": {
      "post": {
        "operationId": "gridOrder.store",
        "summary": "Create new order (Grid system)",
        "tags": [
          "Order"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GridOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "payment_link": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "order": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "uid": {
                                  "type": "string"
                                },
                                "customer_id": {
                                  "type": "string"
                                },
                                "sender_name_first": {
                                  "type": "string"
                                },
                                "sender_name_last": {
                                  "type": "string"
                                },
                                "sender_phone": {
                                  "type": "string"
                                },
                                "recipient_name_first": {
                                  "type": "string"
                                },
                                "recipient_name_last": {
                                  "type": "string"
                                },
                                "recipient_phone": {
                                  "type": "string"
                                },
                                "pickup_address": {
                                  "type": "object",
                                  "properties": {
                                    "governorate": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "area": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "block": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "street": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "avenue": {
                                      "type": "string"
                                    },
                                    "house": {
                                      "type": "string"
                                    },
                                    "notes": {
                                      "type": "string"
                                    },
                                    "coordinates": {
                                      "type": "object",
                                      "properties": {
                                        "lat": {
                                          "type": "string"
                                        },
                                        "lng": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "lat",
                                        "lng"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "governorate",
                                    "area",
                                    "block",
                                    "street",
                                    "avenue",
                                    "house",
                                    "notes",
                                    "coordinates"
                                  ]
                                },
                                "delivery_address": {
                                  "type": "object",
                                  "properties": {
                                    "governorate": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "area": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "block": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "street": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "avenue": {
                                      "type": "string"
                                    },
                                    "house": {
                                      "type": "string"
                                    },
                                    "notes": {
                                      "type": "string"
                                    },
                                    "coordinates": {
                                      "type": "object",
                                      "properties": {
                                        "lat": {
                                          "type": "string"
                                        },
                                        "lng": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "lat",
                                        "lng"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "governorate",
                                    "area",
                                    "block",
                                    "street",
                                    "avenue",
                                    "house",
                                    "notes",
                                    "coordinates"
                                  ]
                                },
                                "subtotal": {
                                  "type": "string"
                                },
                                "discount": {
                                  "type": "string"
                                },
                                "total": {
                                  "type": "string"
                                },
                                "order_type": {
                                  "type": "string",
                                  "description": "New order fields"
                                },
                                "shipping_method": {
                                  "type": [
                                    "object",
                                    "null"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "image": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "default_price": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "image",
                                    "type",
                                    "default_price"
                                  ]
                                },
                                "base_price": {
                                  "type": "string"
                                },
                                "coupon": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "payer": {
                                  "type": "string"
                                },
                                "payment_method": {
                                  "type": "string"
                                },
                                "payment_status": {
                                  "type": "string"
                                },
                                "tracking_url": {
                                  "type": "string",
                                  "description": "'tap_id'                 => $model->tap_id,"
                                },
                                "fleet_status": {
                                  "type": "string"
                                },
                                "fleetrunnr_order_number": {
                                  "type": "string"
                                },
                                "is_cancellable": {
                                  "description": "'fleetrunnr_order_uuid'  => $model->fleetrunnr_order_uuid,",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                },
                                "schedule_date": {
                                  "type": "string"
                                },
                                "proof_image": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "type": "string"
                                },
                                "formated_date": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "formated_time": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "uid",
                                "customer_id",
                                "sender_name_first",
                                "sender_name_last",
                                "sender_phone",
                                "recipient_name_first",
                                "recipient_name_last",
                                "recipient_phone",
                                "pickup_address",
                                "delivery_address",
                                "subtotal",
                                "discount",
                                "total",
                                "order_type",
                                "shipping_method",
                                "base_price",
                                "coupon",
                                "status",
                                "payer",
                                "payment_method",
                                "payment_status",
                                "tracking_url",
                                "fleet_status",
                                "fleetrunnr_order_number",
                                "is_cancellable",
                                "schedule_date",
                                "proof_image",
                                "created_at",
                                "formated_date",
                                "formated_time"
                              ]
                            }
                          },
                          "required": [
                            "payment_link",
                            "order"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "order": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "uid": {
                                  "type": "string"
                                },
                                "customer_id": {
                                  "type": "string"
                                },
                                "sender_name_first": {
                                  "type": "string"
                                },
                                "sender_name_last": {
                                  "type": "string"
                                },
                                "sender_phone": {
                                  "type": "string"
                                },
                                "recipient_name_first": {
                                  "type": "string"
                                },
                                "recipient_name_last": {
                                  "type": "string"
                                },
                                "recipient_phone": {
                                  "type": "string"
                                },
                                "pickup_address": {
                                  "type": "object",
                                  "properties": {
                                    "governorate": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "area": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "block": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "street": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "avenue": {
                                      "type": "string"
                                    },
                                    "house": {
                                      "type": "string"
                                    },
                                    "notes": {
                                      "type": "string"
                                    },
                                    "coordinates": {
                                      "type": "object",
                                      "properties": {
                                        "lat": {
                                          "type": "string"
                                        },
                                        "lng": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "lat",
                                        "lng"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "governorate",
                                    "area",
                                    "block",
                                    "street",
                                    "avenue",
                                    "house",
                                    "notes",
                                    "coordinates"
                                  ]
                                },
                                "delivery_address": {
                                  "type": "object",
                                  "properties": {
                                    "governorate": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "area": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "block": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "street": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "avenue": {
                                      "type": "string"
                                    },
                                    "house": {
                                      "type": "string"
                                    },
                                    "notes": {
                                      "type": "string"
                                    },
                                    "coordinates": {
                                      "type": "object",
                                      "properties": {
                                        "lat": {
                                          "type": "string"
                                        },
                                        "lng": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "lat",
                                        "lng"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "governorate",
                                    "area",
                                    "block",
                                    "street",
                                    "avenue",
                                    "house",
                                    "notes",
                                    "coordinates"
                                  ]
                                },
                                "subtotal": {
                                  "type": "string"
                                },
                                "discount": {
                                  "type": "string"
                                },
                                "total": {
                                  "type": "string"
                                },
                                "order_type": {
                                  "type": "string",
                                  "description": "New order fields"
                                },
                                "shipping_method": {
                                  "type": [
                                    "object",
                                    "null"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "image": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "default_price": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "image",
                                    "type",
                                    "default_price"
                                  ]
                                },
                                "base_price": {
                                  "type": "string"
                                },
                                "coupon": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "payer": {
                                  "type": "string"
                                },
                                "payment_method": {
                                  "type": "string"
                                },
                                "payment_status": {
                                  "type": "string"
                                },
                                "tracking_url": {
                                  "type": "string",
                                  "description": "'tap_id'                 => $model->tap_id,"
                                },
                                "fleet_status": {
                                  "type": "string"
                                },
                                "fleetrunnr_order_number": {
                                  "type": "string"
                                },
                                "is_cancellable": {
                                  "description": "'fleetrunnr_order_uuid'  => $model->fleetrunnr_order_uuid,",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                },
                                "schedule_date": {
                                  "type": "string"
                                },
                                "proof_image": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "type": "string"
                                },
                                "formated_date": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "formated_time": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "uid",
                                "customer_id",
                                "sender_name_first",
                                "sender_name_last",
                                "sender_phone",
                                "recipient_name_first",
                                "recipient_name_last",
                                "recipient_phone",
                                "pickup_address",
                                "delivery_address",
                                "subtotal",
                                "discount",
                                "total",
                                "order_type",
                                "shipping_method",
                                "base_price",
                                "coupon",
                                "status",
                                "payer",
                                "payment_method",
                                "payment_status",
                                "tracking_url",
                                "fleet_status",
                                "fleetrunnr_order_number",
                                "is_cancellable",
                                "schedule_date",
                                "proof_image",
                                "created_at",
                                "formated_date",
                                "formated_time"
                              ]
                            }
                          },
                          "required": [
                            "order"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "payment_link": {
                              "type": "null"
                            },
                            "order": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "uid": {
                                  "type": "string"
                                },
                                "customer_id": {
                                  "type": "string"
                                },
                                "sender_name_first": {
                                  "type": "string"
                                },
                                "sender_name_last": {
                                  "type": "string"
                                },
                                "sender_phone": {
                                  "type": "string"
                                },
                                "recipient_name_first": {
                                  "type": "string"
                                },
                                "recipient_name_last": {
                                  "type": "string"
                                },
                                "recipient_phone": {
                                  "type": "string"
                                },
                                "pickup_address": {
                                  "type": "object",
                                  "properties": {
                                    "governorate": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "area": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "block": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "street": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "avenue": {
                                      "type": "string"
                                    },
                                    "house": {
                                      "type": "string"
                                    },
                                    "notes": {
                                      "type": "string"
                                    },
                                    "coordinates": {
                                      "type": "object",
                                      "properties": {
                                        "lat": {
                                          "type": "string"
                                        },
                                        "lng": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "lat",
                                        "lng"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "governorate",
                                    "area",
                                    "block",
                                    "street",
                                    "avenue",
                                    "house",
                                    "notes",
                                    "coordinates"
                                  ]
                                },
                                "delivery_address": {
                                  "type": "object",
                                  "properties": {
                                    "governorate": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "area": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "block": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "street": {
                                      "type": [
                                        "array",
                                        "null"
                                      ],
                                      "items": {}
                                    },
                                    "avenue": {
                                      "type": "string"
                                    },
                                    "house": {
                                      "type": "string"
                                    },
                                    "notes": {
                                      "type": "string"
                                    },
                                    "coordinates": {
                                      "type": "object",
                                      "properties": {
                                        "lat": {
                                          "type": "string"
                                        },
                                        "lng": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "lat",
                                        "lng"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "governorate",
                                    "area",
                                    "block",
                                    "street",
                                    "avenue",
                                    "house",
                                    "notes",
                                    "coordinates"
                                  ]
                                },
                                "subtotal": {
                                  "type": "string"
                                },
                                "discount": {
                                  "type": "string"
                                },
                                "total": {
                                  "type": "string"
                                },
                                "order_type": {
                                  "type": "string",
                                  "description": "New order fields"
                                },
                                "shipping_method": {
                                  "type": [
                                    "object",
                                    "null"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "image": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "default_price": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "image",
                                    "type",
                                    "default_price"
                                  ]
                                },
                                "base_price": {
                                  "type": "string"
                                },
                                "coupon": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "payer": {
                                  "type": "string"
                                },
                                "payment_method": {
                                  "type": "string"
                                },
                                "payment_status": {
                                  "type": "string"
                                },
                                "tracking_url": {
                                  "type": "string",
                                  "description": "'tap_id'                 => $model->tap_id,"
                                },
                                "fleet_status": {
                                  "type": "string"
                                },
                                "fleetrunnr_order_number": {
                                  "type": "string"
                                },
                                "is_cancellable": {
                                  "description": "'fleetrunnr_order_uuid'  => $model->fleetrunnr_order_uuid,",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                },
                                "schedule_date": {
                                  "type": "string"
                                },
                                "proof_image": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "type": "string"
                                },
                                "formated_date": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "formated_time": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "uid",
                                "customer_id",
                                "sender_name_first",
                                "sender_name_last",
                                "sender_phone",
                                "recipient_name_first",
                                "recipient_name_last",
                                "recipient_phone",
                                "pickup_address",
                                "delivery_address",
                                "subtotal",
                                "discount",
                                "total",
                                "order_type",
                                "shipping_method",
                                "base_price",
                                "coupon",
                                "status",
                                "payer",
                                "payment_method",
                                "payment_status",
                                "tracking_url",
                                "fleet_status",
                                "fleetrunnr_order_number",
                                "is_cancellable",
                                "schedule_date",
                                "proof_image",
                                "created_at",
                                "formated_date",
                                "formated_time"
                              ]
                            }
                          },
                          "required": [
                            "payment_link",
                            "order"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/addresses": {
      "get": {
        "operationId": "addresses.index",
        "summary": "List user addresses",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "addresses.store",
        "summary": "Store new address",
        "tags": [
          "Address"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAddressRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "governorate": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "area": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "block": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "street": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "avenue": {
                          "type": "string"
                        },
                        "house": {
                          "type": "string"
                        },
                        "notes": {
                          "type": "string"
                        },
                        "coordinates": {
                          "type": "object",
                          "properties": {
                            "lat": {
                              "type": "string"
                            },
                            "lng": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "lat",
                            "lng"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "phone",
                        "governorate",
                        "area",
                        "block",
                        "street",
                        "avenue",
                        "house",
                        "notes",
                        "coordinates"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/addresses/{id}": {
      "get": {
        "operationId": "addresses.show",
        "summary": "Show address",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "governorate": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "area": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "block": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "street": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "avenue": {
                          "type": "string"
                        },
                        "house": {
                          "type": "string"
                        },
                        "notes": {
                          "type": "string"
                        },
                        "coordinates": {
                          "type": "object",
                          "properties": {
                            "lat": {
                              "type": "string"
                            },
                            "lng": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "lat",
                            "lng"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "phone",
                        "governorate",
                        "area",
                        "block",
                        "street",
                        "avenue",
                        "house",
                        "notes",
                        "coordinates"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "addresses.update",
        "summary": "Update address",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAddressRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "governorate": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "area": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "block": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "street": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "avenue": {
                          "type": "string"
                        },
                        "house": {
                          "type": "string"
                        },
                        "notes": {
                          "type": "string"
                        },
                        "coordinates": {
                          "type": "object",
                          "properties": {
                            "lat": {
                              "type": "string"
                            },
                            "lng": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "lat",
                            "lng"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "phone",
                        "governorate",
                        "area",
                        "block",
                        "street",
                        "avenue",
                        "house",
                        "notes",
                        "coordinates"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "addresses.destroy",
        "summary": "Delete Address",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/set-default-address": {
      "post": {
        "operationId": "address.setDefaultAddress",
        "summary": "Set default address",
        "tags": [
          "Address"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "address_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "operationId": "auth.register",
        "summary": "Register a new account",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "customer": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "first_name": {
                                  "type": "string"
                                },
                                "last_name": {
                                  "type": "string"
                                },
                                "country_code": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "is_vip": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "id",
                                "first_name",
                                "last_name",
                                "country_code",
                                "phone",
                                "is_vip"
                              ]
                            }
                          },
                          "required": [
                            "customer"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "minItems": 0,
                          "maxItems": 0,
                          "additionalItems": false
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "security": []
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "auth.login",
        "summary": "Login a customer",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "security": []
      }
    },
    "/auth/verify-otp": {
      "post": {
        "operationId": "auth.verifyOtp",
        "description": "Default OTP `1111`",
        "summary": "Verify OTP code",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOtpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "security": []
      }
    },
    "/auth/request-password-reset": {
      "post": {
        "operationId": "auth.requestPasswordReset",
        "summary": "Request password reset",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestPasswordResetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "security": []
      }
    },
    "/auth/reset-password": {
      "post": {
        "operationId": "auth.resetPassword",
        "description": "Default OTP `1111`",
        "summary": "Reset password with OTP verification",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "security": []
      }
    },
    "/me": {
      "get": {
        "operationId": "auth.me",
        "summary": "Get user's data",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "country_code": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "is_vip": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "first_name",
                        "last_name",
                        "country_code",
                        "phone",
                        "is_vip"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/edit-profile": {
      "put": {
        "operationId": "auth.editProfile",
        "summary": "Edit profile",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditProfileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "country_code": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "is_vip": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "first_name",
                        "last_name",
                        "country_code",
                        "phone",
                        "is_vip"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "auth.logout",
        "summary": "Logout the current user",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/delete": {
      "delete": {
        "operationId": "auth.deleteAccount",
        "summary": "Delete the authenticated customer's account",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/apply-coupon": {
      "post": {
        "operationId": "coupon.applyCoupon",
        "summary": "Apply Coupon",
        "tags": [
          "Coupon"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "coupon": {
                          "type": "string"
                        },
                        "subtotal": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "string"
                        },
                        "total": {
                          "type": "number"
[...]
