{
  log {
    output file __RIDERS_CADDY_ACCESS_LOG__ {
      roll_size 100mb
      roll_keep 10
      roll_keep_for 720h
    }
    format json
    level INFO
  }
}

__RIDERS_PUBLIC_WEBHOOK_HOST__ {
  @webhook path /webhook

  handle @webhook {
    reverse_proxy __RIDERS_PUBLIC_WEBHOOK_UPSTREAM__ {
      header_up X-Request-Id {http.request.header.X-Request-Id}
    }
  }

  handle {
    respond 404
  }
}
